---
import Card from "../card.astro";
import type { Network } from "@/models/network";
import Pill from "../pill.astro";
import LogInIcon from "@/assets/icons/lucide--log-in.svg";

interface Props {
  network: Network;
}

const { network } = Astro.props;

const MAX_CONTAINERS_TO_SHOW = 4;
---

<Card href={network.isRunning ? `/networks/${network.name}` : undefined}>
  <div class="card-header">
    {network.isExternal && <div title="External network"><LogInIcon /></div>}
    <h3>{network.name}</h3>
    {
      network.isRunning ? (
        <Pill text={"Up"} color={"var(--color-border-success)"} />
      ) : (
        <Pill text="Down" color="var(--color-border-danger)" />
      )
    }
  </div>
  {
    network.containers.length > 0 && (
      <div class="card-meta">
        <p>Containers:</p>
        <div>
          {network.containers
            .slice(0, MAX_CONTAINERS_TO_SHOW)
            .map((container) => (
              <Pill
                text={container}
                color="var(--color-surface-300)"
                fill
                small
              />
            ))}
          {network.containers.length > MAX_CONTAINERS_TO_SHOW && (
            <Pill
              text={`+${network.containers.length - MAX_CONTAINERS_TO_SHOW} more`}
              color="var(--color-surface-300)"
              fill
              small
            />
          )}
        </div>
      </div>
    )
  }
</Card>

<style>
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    & svg {
      width: 16px;
      height: 16px;
      translate: 0 2px;
      margin-right: 4px;
    }

    & h3 {
      line-height: 1.3;
    }

    & + * {
      border-top: 1px solid var(--color-surface-300);
      padding-top: 10px;
      margin-top: 10px;
    }
  }

  .card-meta {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    align-items: flex-start;

    & + * {
      margin-top: 12px;
    }

    & > p {
      font-size: 80%;
      line-height: 1.5;
      font-weight: 500;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
</style>
