---
import Page from "@/components/page.astro";
import PlugIcon from "@/assets/icons/lucide--plug.svg";

const { name } = Astro.params;
if (!name) {
  return Astro.redirect("/plugins");
}

const { host } = Astro.locals;
const plugin = host.plugins.find((plugin) => plugin.name === name);
if (!plugin) {
  return Astro.redirect("/plugins");
}
---

<Page title={[{ text: "Plugins", href: "/plugins" }, { text: plugin.name }]} icon={PlugIcon}>
  <section>
    <h2>Debug</h2>
    <details>
      <summary>Plugin</summary>
      <pre>{JSON.stringify(plugin, null, 2)}</pre>
    </details>
  </section>
</Page>

<style>
  section {
    margin-block: 3em;
    & > h2 {
      margin-bottom: 1em;
    }
  }
</style>
