---
import Page from "@/components/page.astro";
import PlugIcon from "@/assets/icons/lucide--plug.svg";
import Card from "@/components/card.astro";
import EmptyTable from "@/components/empty-table.astro";

const { host } = Astro.locals;
const plugins = host.plugins;
plugins.sort((a, b) => a.name.localeCompare(b.name));
---

<Page title={[{ text: "Plugins" }]} icon={PlugIcon}>
  <Card>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Enabled</th>
        </tr>
      </thead>
      <tbody>
        {
          plugins.map((plugin) => (
            <tr>
              <td>
                <a href={`/plugins/${plugin.name}`}>{plugin.name}</a>
              </td>
              <td>{plugin.enabled ? "Yes" : "No"}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
    {plugins.length === 0 && <EmptyTable message="No plugins" />}
  </Card>
</Page>
