---
import Page from "@/components/page.astro";
import HexagonIcon from "@/assets/icons/lucide--hexagon.svg";
import Trash2Icon from "@/assets/icons/lucide--trash-2.svg";
import Button from "@/components/button.astro";
import { Host } from "@/models/host";
import ContainerCard from "@/components/projects/container-card.astro";

const { id } = Astro.params;
if (!id) {
  return Astro.redirect("/images");
}

const host = await Host.fromDockerSocket("http://localhost:2375");
const image = host.images.find(
  (images) => images.id === decodeURIComponent(id)
);
if (!image) {
  return Astro.redirect("/images");
}
---

<Page
  title={[{ text: "Images", href: "/images" }, { text: image.name }]}
  icon={HexagonIcon}
>
  <div slot="header">
    <Button
      icon={Trash2Icon}
      label="Delete"
      data-action="images.delete"
      data-id={id}
      theme="danger"
    />
  </div>
  {
    image.containers.length > 0 && (
      <section>
        <h2>Containers</h2>
        <div class="grid">
          {image.containers.map((container) => (
            <ContainerCard container={container} />
          ))}
        </div>
      </section>
    )
  }
  <section>
    <h2>Debug</h2>
    <details>
      <summary>Image</summary>
      <pre>{JSON.stringify(image, null, 2)}</pre>
    </details>
  </section>
</Page>

<style>
  div {
    display: flex;
    gap: 8px;
  }

  section {
    margin-block: 3em;
    & > h2 {
      margin-bottom: 1em;
    }

    & > .grid {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 16px;
    }
  }
</style>

<script>
  import { actions } from "astro:actions";

  document
    .querySelectorAll<HTMLButtonElement>("button[data-action]")
    .forEach((button) => {
      button.addEventListener("click", async () => {
        const { action, id } = button.dataset;
        if (!action || !id) {
          return;
        }
        switch (action) {
          case "images.delete":
            await actions.images.delete({ id });
            window.location.href = "/images";
            break;
          default:
            break;
        }
      });
    });
</script>
