---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

{
  href ? (
    <a data-component="card" href={href} draggable="false">
      <slot />
    </a>
  ) : (
    <div data-component="card" draggable="false">
      <slot />
    </div>
  )
}

<style>
  [data-component="card"] {
    background-color: var(--color-surface-200);
    border: 1px solid var(--color-surface-300);
    border-radius: 10px;
    padding-inline: 20px;
    padding-block: 10px;
    display: block;
  }

  a[data-component="card"] {
    transition-duration: 80ms;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow, transform, border-color;

    
    &:hover, &:focus {
        box-shadow: 0 3px 0 0 var(--color-surface-400);
        border-color: var(--color-surface-400);
        transform: translateY(-3px);
        outline: none;
    }

    &:focus {
        border-color: var(--color-primary);
        box-shadow: 0 3px 0 0 var(--color-primary);
    }

    &:active {
        box-shadow: none;
        border-color: var(--color-surface-300);
        transform: translateY(0);
    }
  }
</style>
