---
import Page from "@/components/page.astro";
import HardDriveIcon from "@/assets/icons/lucide--hard-drive.svg";
import { Host } from "@/models/host";

const { id } = Astro.params;
if (!id) {
  return Astro.redirect("/volumes");
}

const host = await Host.fromDockerSocket("http://localhost:2375");
const volume = host.volumes.find((volume) => volume.name === id);
if (!volume) {
  return Astro.redirect("/volumes");
}
---

<Page
  title={[{ text: "Volumes", href: "/volumes" }, { text: volume.name }]}
  icon={HardDriveIcon}
>
  <section>
    <h2>Debug</h2>
    <details>
      <summary>Volume</summary>
      <pre>{JSON.stringify(volume, null, 2)}</pre>
    </details>
  </section>
</Page>

<style>
  section {
    margin-block: 3em;
    & > h2 {
      margin-bottom: 1em;
    }
  }
</style>
