---
import Page from "@/components/page.astro";
import HardDriveIcon from "@/assets/icons/lucide--hard-drive.svg";
import { formatLongName, formatUnixTimestamp } from "@/utils/formats";
import Button from "@/components/button.astro";
import Trash2Icon from "@/assets/icons/lucide--trash-2.svg";
import Card from "@/components/card.astro";
import EmptyTable from "@/components/empty-table.astro";

const { host } = Astro.locals;
const volumes = host.volumes.toSorted(
  (a, b) => (b.createdOn?.getTime() ?? 0) - (a.createdOn?.getTime() ?? 0)
);
---

<Page
  title={[{ text: "Volumes" }]}
  icon={HardDriveIcon}
  description="Volumes are the persistent storage that containers can use. They can be inspected, deleted, and created."
>
  <div slot="header">
    <Button
      icon={Trash2Icon}
      label="Prune"
      data-action="volumes.prune"
      theme="danger"
    />
  </div>
  <Card>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        {
          volumes.map((volume) => (
            <tr>
              <td>
                <a href={`/volumes/${volume.name}`}>
                  {formatLongName(volume.name)}
                </a>
              </td>
              <td>
                {volume.createdOn ? formatUnixTimestamp(volume.createdOn) : "-"}
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
    {volumes.length === 0 && <EmptyTable message="No volumes" />}
  </Card>
</Page>

<script>
  import { actions } from "astro:actions";
  const button = document.querySelector("button[data-action='volumes.prune']");
  button?.addEventListener("click", async () => {
    await actions.volumes.prune();
    window.location.reload();
  });
</script>
